@{
    Layout = "_Layout";
}
<section class="md">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common-block">
                    <div class="inner-title">
                        <h4 class="mb-0">Confirm Email</h4>
                    </div>

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="alert alert-success">
                                Thanks for your registration. please check your email and click on confirmation link to approve your account.
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
